<div class="row">
  <div class="col-xs-6">
    <button type="button" (click)="success = !success">Toggle</button>
    <app-success-alert *ngIf="success"></app-success-alert>
    <app-warning-alert *ngIf="!success"></app-warning-alert>
  </div>

  <div class="col-xs-6">
    <button type="button" (click)="success2 = !success2">Toggle</button>

    <div *ngIf="success2; else warning">
      <app-success-alert></app-success-alert>
    </div>
    <ng-template #warning>
      <app-warning-alert></app-warning-alert>
    </ng-template>

  </div>
</div>

<div class="row">
  <div style="width: 1000px">

    <input (input)="setDiameter($event)" type="range" min="0" max="1000" value="20" step="1">

    <div class="circle" style="height:30px"
    [ngStyle]="{backgroundColor: bColor, width: getDiameter(), height: getDiameter()}"></div>
  </div>
</div>